$Montserrat:'Montserrat', sans-serif;
$Montserrat-EL:200;
$Montserrat-L:300;
$Montserrat-R:400;
$Montserrat-M:500;
$Montserrat-SB:600;
$Montserrat-B:700;
$Montserrat-EB:800;

$bebas:'Bebas Neue', cursive;